.circle-container {
  .outer-circle {
    stroke: blue;
    stroke-width: 1px;
    fill: transparent;
  }

  .circle-svg {
    display: block;
    width: 100%;
    height: calc(100vh - 100px);
  }

  .inner-circle {
    stroke: #333333;
    fill: transparent;
  }

  .radial {
    stroke-width: 3px;
    stroke: steelblue;
  }
}
