.jumbotron {
  padding-top: 5px;
}

.plotter {
  position: relative;
}

.plotter path {
  fill: none;
  stroke: teal;
}

.plotter h3 {
  text-align: center;
}

.plotter .axis path, line {
  stroke: #aaa;
  shape-rendering: crispEdges;
}

.plotter .axis text {
  fill: #aaa;
  font-size: 11px;
}

.expression-input {
  position: absolute;
  top: 41px;
}
