.chart {
  background: #fff;
  font: 10px sans-serif;
  shape-rendering: crispEdges;
}

.chart text {
  fill: black;
}

.axis line, .axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  text-shadow: 0 1px 0 #fff;
  cursor: move;
}

.triangle-container input[type=radio] {
  margin-left: 5px;
}

@media (max-width: 768px) {
  .btn-responsive {
    padding:2px 4px 1px;
    font-size:80%;
    line-height: 1;
    border-radius:3px;
  }
}

@media (min-width: 769px) {
  .btn-responsive {
    padding:9px 10px 8px;
    font-size:90%;
    line-height: 1.2;
  }
}