form > label:nth-child(1) {
  margin-left: 100px;
}

form > label {
  margin-right: 20px;
}

a {
  cursor: pointer;
}

.chart {
  background: #fff;
  font: 10px sans-serif;
  shape-rendering: crispEdges;
}

.chart text {
  fill: black;
}
.axis line, .axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  text-shadow: 0 1px 0 #fff;
  cursor: move;
}

.grabber {
  z-index: 1000;
}

.triangle-container input[type=radio] {
  margin-left: 5px;
}