@import './colors';

.nav-container {
  margin-bottom: 20px;
}

.navbar {
  margin-bottom: 0;
}

.nav-container {
  background-color: $nav-background-color;
  border-color: $nav-border-color;
}

.navbar-brand {
  padding-left: 0;
}