@import '@cutting/component-library/src/styles/_index.scss';
@import './variables';
@import './partials/grid';
@import './partials/nav';

html {
  min-height: 100%;
}

body {
  background-color: #f5f5f5;
}

.tick text {
  font-size: $tick-font-size;
}

.chart {
  background: #fff;
  font: 10px sans-serif;
  shape-rendering: crispEdges;
}

.chart text {
  fill: black;
}

.axis line, .axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  text-shadow: 0 1px 0 #fff;
  cursor: move;
}

.triangle-container input[type=radio] {
  margin-left: 10px;
  margin-right: 10px;
}

.difflabel {
  fill: red;
  font-size: 1em;
}

.dropdown {
  cursor: pointer;
}

@media (max-width: 767px) {
  .text-xs-center {
    text-align: center;
  }
}

$margins: ();

@for $i from 1 through 50 {
  .mt-#{$i} {
    margin-top: #{$i}px !important;
  }

  .ml-#{$i} {
    margin-left: #{$i}px !important;
  }

  .mb-#{$i} {
    margin-bottom: #{$i}px !important;
  }


  .mr-#{$i} {
    margin-right: #{$i}px !important;
  }

  $margins: append($margins, $i, comma);
}
