.plotter path {
  fill: none;
  stroke: teal;
}

.plotter .axis path, line {
  stroke: #aaa;
  shape-rendering: crispEdges;
}

.plotter .axis text {
  fill: #aaa;
  font-size: 11px;
}

.curve {
  stroke-width: 1;
}

.MathJax_SVG_Display {
  text-align: left !important;
}

$range-label-margin: 5px;

.plotter .panel.panel-default.scale {
  input[type=text] {
    width: 50px;
    display: inline;
  }

  .range {
    margin-left: $range-label-margin;
    margin-right: $range-label-margin;
  }
}
