.plotter path {
  fill: none;
  stroke: teal;
}

.plotter .axis path, line {
  stroke: #aaa;
  shape-rendering: crispEdges;
}

.plotter .axis text {
  fill: #aaa;
  font-size: 11px;
}

.curve {
  stroke-width: 1;
}

.MathJax_SVG_Display {
  text-align: left !important;
}
