@import "partials/colors";

@keyframes spin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

.pyramid-container {
  perspective: 800px;
	perspective-origin: center;
}

#pyramid {
  transform-origin:50% 90% 0px;
  transform-style: preserve-3d;
  transform:rotateX(20deg) rotateY(40deg);
  position: relative;
  animation: spin 8s infinite linear;
}

$base: 270px;
$half-base: ($base / 2);
$apothem: 270px;  //(1/2 base) X tan(theta)
$rotate-X: 30deg;
$base-move: 0 - ($apothem - $half-base);

#pyramid div:not(.base) {
  position: absolute;
  border-left: $half-base solid transparent;
  border-right: $half-base solid transparent;
  border-bottom: $apothem solid;
  transform-origin: $half-base $apothem 0; /* bottom of trangle (1/2 Base, Apothem) */
  opacity: .5;
}

.base {
  position: absolute;
  width: $base;
  height: $base;
  background-color: rgba(147,81,166,0.9);
  transform: rotateX(90deg) translate3d(0px, 0px, $base-move);
  opacity: .5;
}

#pyramid div.front {
  border-bottom-color: #e04545;
  transform: rotateY(0deg) translate3d(0px, 0px, $half-base) rotateX($rotate-X);

  &:after {
    position: absolute;
    content: "Triangle";
    color: #fff;
    left: -250px;
    text-align: center;
  }
}

#pyramid div.back {
  border-bottom-color: #ccaf5a;
  transform: rotateY(90deg) translate3d(0px, 0px, $half-base) rotateX($rotate-X);
}

#pyramid div.left {
  border-bottom-color: #ccaf5a;
  transform: rotateY(180deg) translate3d(0px, 0px, $half-base) rotateX($rotate-X);
}

#pyramid div.right {
   border-bottom-color: #4ccfc8;
   transform: rotateY(270deg) translate3d(0px, 0px, $half-base) rotateX($rotate-X);
}