@import "partials/colors";

@-webkit-keyframes spin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

.pyramid-container {
  perspective: 800px;
	perspective-origin: center;
}

#pyramid {
  transform-origin:50% 90% 0px;
  transform-style: preserve-3d;
  transform:rotateX(20deg) rotateY(40deg);
  position: relative;
  display: inline-block;
  animation: spin 8s infinite linear;
}


#pyramid div:not(.base) {
  position: absolute;
  border-left: 100px solid transparent;   /* 1/2 Base */
  border-right: 100px solid transparent;   /* 1/2 Base */
  border-bottom: 200px solid;  /* Apothem */
  transform-origin: 100px 200px 0; /* bottom of trangle (1/2 Base, Apothem) */
  opacity: .5;
}

.base {
  position: absolute;
  width: 200px;
  height: 200px;
  background-color: rgba(147,81,166,0.9);
  /* transform by default from middle (100px, 100px)
     move by Apothem - 1/2 Base = 41px */
  transform: rotateX(90deg) translate3d(0px, 0px, -100px);
  opacity: .5;
}

#pyramid div.front {
  border-bottom-color: #e04545;
  transform: rotateY(0deg) translate3d(0px, 0px, 100px) rotateX(30deg);

  &:after {
    position: absolute;
    content: "Triangle";
    color: #fff;
    left: -250px;
    text-align: center;
  }
}

#pyramid div.back {
  border-bottom-color: #ccaf5a;
  transform: rotateY(90deg) translate3d(0px, 0px, 100px) rotateX(30deg);
}

#pyramid div.left {
  border-bottom-color: #ccaf5a;
  transform: rotateY(180deg) translate3d(0px, 0px, 100px) rotateX(30deg);
}

#pyramid div.right {
   border-bottom-color: #4ccfc8;
   transform: rotateY(2070deg) translate3d(0px, 0px, 100px) rotateX(30deg);
}