@import "partials/colors";

@-webkit-keyframes spin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

.pyramid-container {
  perspective: 800px;
	perspective-origin: center;
}

#pyramid {
  transform-origin:50% 90% 0px;
  transform-style: preserve-3d;
  transform:rotateX(20deg) rotateY(40deg);
  position: relative;
  display: inline-block;
  // animation: spin 8s infinite linear;
}

$base: 200px;
$half-base: ($base / 2);
$apothem: 200px;
$rotate-X: 30deg;
$translate-Z: 100px;
$base-move: 0 - ($apothem - $half-base);

#pyramid div:not(.base) {
  position: absolute;
  border-left: $half-base solid transparent;   /* 1/2 Base */
  border-right: $half-base solid transparent;  /* 1/2 Base */
  border-bottom: $apothem solid;  /* Apothem */
  transform-origin: $half-base $apothem 0; /* bottom of trangle (1/2 Base, Apothem) */
  opacity: .5;
}

.base {
  position: absolute;
  width: $base;
  height: $base;
  background-color: rgba(147,81,166,0.9);
  /* transform by default from middle (100px, 100px)
     move by Apothem - 1/2 Base = 41px */
  transform: rotateX(90deg) translate3d(0px, 0px, $base-move);
  opacity: .5;
}

#pyramid div.front {
  border-bottom-color: #e04545;
  transform: rotateY(0deg) translate3d(0px, 0px, $translate-Z) rotateX($rotate-X);

  &:after {
    position: absolute;
    content: "Triangle";
    color: #fff;
    left: -250px;
    text-align: center;
  }
}

#pyramid div.back {
  border-bottom-color: #ccaf5a;
  transform: rotateY(90deg) translate3d(0px, 0px, $translate-Z) rotateX($rotate-X);
}

#pyramid div.left {
  border-bottom-color: #ccaf5a;
  transform: rotateY(180deg) translate3d(0px, 0px, $translate-Z) rotateX($rotate-X);
}

#pyramid div.right {
   border-bottom-color: #4ccfc8;
   transform: rotateY(270deg) translate3d(0px, 0px, $translate-Z) rotateX($rotate-X);
}