$stroke-width: 2px;
$stroke-colour: steelblue;

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.unit-circle,
.line,
.vertical-guide{
  stroke: steelblue;
}


.sine2-container {
  .graph-container {
    .x.axis .tick:first-child {
      display: none;
    }
  }

  .ln {
    stroke-width: 3px;
    stroke: black;
  }

  .sine-curve {
    stroke: red;
    stroke-width: $stroke-width;
	  fill: none;
  }

  .opposite, .hypotenuse {
    stroke: red;
    stroke-width: 3px;
  }
}

.sinewave-container {
  .circle-container .x.axis .tick:first-child, .svg-container .y.axis .tick:nth-child(2) {
  display: none;
  }

  .unit-circle,
  .line,
  .vertical-guide{
    stroke: steelblue;
  }

  .circle-guide,
  .vertical-guide,
  .dot,
  .axis-dot{
    fill: steelblue;
  }

  .adjacent,
  .guide-line,
  .joining-line,
  .hypotenuse,
  .opposite {
    stroke: $stroke-colour;
    stroke-width: $stroke-width;
  }

  .sine-curve {
    stroke: $stroke-colour;
    stroke-width: $stroke-width;
	  fill: none;
  }

  .circle-container .tick {
    font: 15pt sans-serif;
  }
}
