.x.axis .tick:first-child, .y.axis .tick:nth-child(2) {
  display: none;
}

.outer-circle,
.line,
.circle-guide,
.outside-line,
.vertical-guide,
.joining-line{
  stroke: steelblue
}

.sine-curve {
  stroke: steelblue;
  stroke-width: 1;
	fill: none;
}

.tick {
  font: 15pt sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
