.circle-container .x.axis .tick:first-child, .y.axis .tick:nth-child(2) {
  display: none;
}

.unit-circle,
.line,
.vertical-guide{
  stroke: steelblue;
}

.circle-guide,
.vertical-guide,
.dot,
.axis-dot{
  fill: steelblue;
}

$stroke-width: 2px;
$stroke-colour: steelblue;

.adjacent,
.guide-line,
.joining-line,
.hypotenuse,
.opposite {
  stroke: $stroke-colour;
  stroke-width: $stroke-width;
}

.sine-curve {
  stroke: $stroke-colour;
  stroke-width: $stroke-width;
	fill: none;
}

.tick {
  font: 15pt sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
