$stroke-width: 2px;
$thick-stroke-width: 5px;
$stroke-colour: steelblue;

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.unit-circle,
.line,
.vertical-guide{
  stroke: steelblue;
}

.sine2-container {
  $triangle-legs-color: red;
  $tracer-color: blue;

  .graph-container {
    .x.axis .tick:first-child {
      display: none;
    }
  }

  .ln {
    stroke-width: 3px;
    stroke: black;
  }

  .sine-curve {
    stroke: $triangle-legs-color;
    stroke-width: $thick-stroke-width;
	  fill: none;
  }

  .hypotenuse {
    stroke-width: $thick-stroke-width;
  }

  .opposite{
    stroke: $triangle-legs-color;
    stroke-width: $thick-stroke-width;
  }

  .adjacent {
    stroke: $tracer-color;
    stroke-width: $thick-stroke-width;
  }

  .arc {
    fill: $tracer-color;
  }
}

.sinewave-container {
  .circle-container .x.axis .tick:first-child, .svg-container .y.axis .tick:nth-child(2) {
  display: none;
  }

  .unit-circle,
  .line,
  .vertical-guide{
    stroke: steelblue;
  }

  .circle-guide,
  .vertical-guide,
  .dot,
  .axis-dot{
    fill: steelblue;
  }

  .adjacent,
  .guide-line,
  .joining-line,
  .hypotenuse,
  .opposite {
    stroke: $stroke-colour;
    stroke-width: $stroke-width;
  }

  .sine-curve {
    stroke: $stroke-colour;
    stroke-width: $stroke-width;
	  fill: none;
  }

  .circle-container .tick {
    font: 15pt sans-serif;
  }
}
